### Exercise 1: Comparing Strings

In this exercise, you will be comparing strings using Python:
1. Let's compare single letters:
'a' < 'c'

  Find out if this is True or False
2. Now, let's compare 'Bombay' and 'Mumbai':
'Bombay' > 'Mumbai'

  Find out if this is True or False

In [1]:
# Q1. 
'a'<'c'

True

In [2]:
# Q2.
'Bombay' > 'Mumbai'

False

### Exercise 2: String Error Syntax

The goal of this exercise is to learn appropriate string syntax:
1. Enter a valid string:

  `bookstore = 'City Lights'`
2. Now enter an invalid string:

  `bookstore = 'City Lights"`

3. Now enter a valid string format again, as in the following code snippet:

  `bookstore = "Moe's"`

  This is okay. The string starts and ends with double quotes. Anything can be inside the quotation marks, except for more quotation marks.

4. Now add the invalid string again:

  `bookstore = 'Moe's'`

In [4]:
# Q1.
bookstore = 'City Lights'

In [5]:
# Q2.
bookstore = 'City Lights"

SyntaxError: ignored

In [6]:
# Q3.
bookstore = "Moe's"

In [7]:
# Q4.
bookstore = 'Moe's'

SyntaxError: ignored

### Exercise 3: Displaying Strings
In this exercise, you will learn different ways to display
strings:
1. Define a greeting variable with the value `'Hello'`. Display the greeting using the print() function:

2. Display the value of greeting without using
the print() function:
You should get the following output:

  `'Hello'`

  When we input greeting without
the print() function, we are obtaining the encoded
value, hence the quotes.
3. Consider the following sequence of code in a single cell
in a Jupyter Notebook:

  `spanish_greeting = 'Hola.'`

  `spanish_greeting`

  `arabic_greeting = 'Ahlan wa sahlan.'`

  When the preceding cell is run, the preceding code does
not display spanish_greeting. If the code were run
on a terminal as three separate lines, it would
display Hola., the string assigned to
spanish_greeting. The same would be true if the
preceding sequence of code were run in three separate
cells in a Jupyter Notebook. For consistency, it's useful
to use print() any time information should be
displayed.
4. Display the Spanish greeting:

  `spanish_greeting = 'Hola.'`

  `print(spanish_greeting)`
  
  You should get the following output:
Hola.
5. Now, display the Arabic greeting message, as mentioned
in the following code snippet:

  `arabic_greeting = 'Ahlan wa sahlan.'`
  
  `print(arabic_greeting)`

  You should get the following output:
 
  `Ahlan wa sahlan.`
  The compiler runs through each line in order. Every time
it arrives at print(), it displays information.

In [8]:
# Q1.
greet = 'Hello'
print(greet)

Hello

In [9]:
# Q2.
greet

'Hello'

In [10]:
# Q3.
spanish_greeting = 'Hola.'
spanish_greeting
arabic_greeting = 'Ahlan wa sahlan.'

In [11]:
# Q4.
spanish_greeting = 'Hola.'
print(spanish_greeting)

Hola.

In [12]:
# Q5.
arabic_greeting = 'Ahlan wa sahlan.'
print(arabic_greeting)

Ahlan wa sahlan.

### Exercise 4: String Concatenation
In this exercise, you will learn how to combine strings using
string concatenation:

1. Combine the spanish_greeting we used
in Exercise 3, Displaying Strings, with 'Senor.' using
the + operator and display the results:

  `spanish_greeting = 'Hola'`
  
  `print(spanish_greeting + 'Senor.')`

  You should get the following output:

  `HolaSenor.`

  Notice that there are no spaces between greeting and
name. If we want spaces between strings, we need to
explicitly add them.
2. Now, combine spanish_greeting with 'Senor.'
using the + operator, but this time, include a space:
You should get the following output:

  `Hola Senor.`

3. Display the greeting 5 times using the `*` multiplication
operator:

  `greeting = 'Hello'`

In [13]:
# Q1.
spanish_greeting = 'Hola'

print(spanish_greeting + 'Senor.')

HolaSenor.

In [14]:
# Q2.
print(spanish_greeting+" "+'Senor.')

Hola Senor.

In [17]:
# Q3.
greeting = 'Hello'
print(greeting*5)

HelloHelloHelloHelloHello

### Exercise 5: String Methods

In this exercise, you will learn how to implement string
methods.
1. Set a new variable, called name, may be, enter your first
name or use your pet name: (here, I am using the city
name Bhopal.

  `name = 'Bhopal'`

  Note:

  Access string methods by pressing the Tab button after
the variable name and dot (.), as demonstrated in the
following screenshot:

Setting a variable name via the dropdown menu
You can scroll down the list to obtain all available string
methods.

2. Now, convert the name into lowercase letters using
the lower() function:

3. Now, capitalize the name using the capitalize()
function:

4. Convert the name into uppercase letters using upper():

5. Finally, count the number of any one vowel (aeiou) in
your name. for instance, in 'Bhopal':
name.count('o')
You should get the following output:

In [18]:
# Q1.
name = 'Bhopal'

In [21]:
# Q2.
name.lower()

'bhopal'

In [22]:
# Q3.
name.capitalize()

'Bhopal'

In [23]:
# Q4.
name.upper()

'BHOPAL'

In [24]:
# Q5.
name.count('a')

1

### Exercise 6: Slicing

1. What do the following expressions evaluate to?

  `'Hello, world!'[1]`

  `'Hello, world!'[0:5]`
2. Write an expression for slicing the letters from “e” to “r”
in `'Hello, world!'`
3. Write an expression for slicing the letters from index 3
till the end in `'Hello, world!'`

In [25]:
# Q1.
'Hello, world!'[1]

'e'

In [26]:
# Q1.
'Hello, world!'[0:5]

'Hello'

In [28]:
# Q2.
'Hello, world!'[1:-3]

'ello, wor'

In [29]:
# Q3.
'Hello, world!'[3:]

'lo, world!'

### Exercise 7: Types and Casting
In this exercise, you will learn how types and casting work
together:

1. Determine the type of '5':

  You should get the following output:
  
  `str`
2. Now, add '5' and '7':

  You should get the following output:

  `'57'`
  
  The answer is not 12 because, here, 5 and 7 are of
type string, not of type int. Recall that the + operator
concatenates strings. If we want to add 5 and 7, we must
convert them first.
3. Convert the '5' string to an int
You should get the following output:

  `5`
  
  Now 5 is a number, so it can be combined with other
numbers via standard mathematical operations.
4. Add '5' and '7' by converting them to int first:

  You should get the following output:

  Output after adding two integers converted from a string

In [30]:
type('5')

str

In [31]:
'5'+'7'

'57'

In [32]:
int('5')

5

In [33]:
int('5')+int('7')

12

### Exercise 8: Finding the Least Common Multiple (LCM)
In this activity, you will find the LCM of two divisors. 

The LCM of two divisors is the first number that both divisors can divide.

For instance, the LCM of 4 and 6 is 12, because 12 is the first
number that both 4 and 6 can divide. You will find the LCM
of 2 numbers. You will set the variables, then initialize
a while loop with an iterator and a Boolean that is True by
default. You will set up a conditional that will break if the
iterator divides both numbers. You will increase the iterator
and print the results after the loop completes.
In this activity, using the following steps, you need to find the
LCM of 24 and 36.
The steps are as follows:
1. Set a pair of variables as equal to 24 and 36.
2. Initialize the while loop, based on a Boolean that
is True by default, with an iterator.
3. Set up a conditional to check whether the iterator divides
both numbers.
4. Break the while loop when the LCM is found.
5. Increment the iterator at the end of the loop.
6. Print the results.

  You should get the following output:

  `The Least Common Multiple of 24 and 36 is 72.`

IF YOU ARE STILL NOT CLEAR, FOLLOW THE
INSTRUCTIONS BELOW

Finding the Least Common Multiple (LCM)
Here, you begin by setting the variables equal to 24 and 36:

  `# Find the Least Common Multiple of Two Divisors`
  
  `first_divisor = 24`

  `second_divisor = 36`

  Now, initialize a while loop based on the counting Boolean,
which is True, with an iterator, i:

  `counting = True`
  `i = 1`
  `while counting:`
  
  This step sets up a conditional to check whether the iterator
divides both numbers:

  `if i % first_divisor == 0 and i % second_divisor == 0:`

  This step breaks the while loop:

  `break`

This step increments the iterator at the end of the loop:

  `i += 1`

  `print('The Least Common Multiple of', first_divisor, 'and',
second_divisor, 'is', i, '.')`

You should get the following output:

  `The Least Common Multiple of 24 and 36 is 72.`

In [35]:
# Q LCM:
first_divisor = 24
second_divisor = 36
counting = True
i = 1
while counting:
  if i%first_divisor==0 and i%second_divisor==0:
    break
  i+=1
print('The Least Common Multiple of', first_divisor, 'and', second_divisor, 'is', i, '.')

The Least Common Multiple of 24 and 36 is 72 .

### Exercise 9: Calculating Perfect Squares
The goal of this exercise is to prompt the user to enter a given
number and find out whether it is a perfect square.
The following steps in this exercise will help you with this:
1. Prompt the user to enter a number to see if it's a perfect
square:

  `print('Enter a number to see if it\'s a perfect square.')`
2. Set a variable as equal to input(). In this case let's
enter 64:

  `number = input()`
3. Ensure the user input is a positive integer:

  `number = abs(int(number))`
4. Choose an iterator variable:

  `i = -1`
5. Initialize a Boolean to check for a perfect square:

  `square = False`
6. Initialize a while loop from -1 to the square root of the
number:

  `while i <= number**(0.5):`
7. Increment i by 1:

  `i += 1`
8. Check the square root of the number:

  `if i*i == number:`
9. Indicate that we have a perfect square:

  `square = True`
10. break out of the loop:
  `break`
11. If the number is square, print out the result:
  `if square:`

  `print('The square root of', number, 'is', i, '.')`
12. If the number is not a square, print out this result:

  `else:`

  `print('', number, 'is not a perfect square.')`
  
You should get the following output:

  `The square root of 64 is 8.`

In [38]:
# Perfect Squares
print('Enter a number to see if it\'s a perfect square.')
# ensures user input is a +ve integer
number = abs(int(input()))
i = -1
square = False
while i <= number**(0.5):
  i += 1
  if i*i == number:
    square = True
    break
if square:
  print('The square root of', number, 'is', i, '.')
else:
  print('', number, 'is not a perfect square.')

Enter a number to see if it's a perfect square.
64
The square root of 64 is 8 .

### Exercise 10: Using for Loops
In this exercise, you will utilize for loops to print the
characters in a string in addition to a range of numbers:
1. Print out the characters of 'IISERB':
```
for i in 'IISERB':
    print(i)
```
You should get the following output:
```
I
I
S
E
R
B
```

2. Using range method in for Loop:
You use a lower bound of 1 and an upper bound
of 10 with range to print 1-9:

  Hint: `range(1,9)`
You should get the following output:
```
1
2
3
4
5
6
7
8
9
```

  The range does not print the number 10.

3. Now use range with one bound only, the number 10, to
print the first ten numbers:
You should get the following output:
```
0
1
2
3
4
5
6
7
8
9
```
  So, `range(10)` will print out the first 10 numbers,
starting at 0, and ending with 9.
Now let's say that you want to count by increments of 2.
You can add a third bound, a step increment, to count up
or down by any number desired.
Use a step increment to count the even numbers through
10:

  You should get the following output:
```
1
3
5
7
9
```
Similarly, you can count down using negative numbers,
which is shown in the next step.
4. Use a step increment to count down from 3 to -1:
You should get the following output:
```
3
2
1
```
5. Now, print each letter of the city three times:

  `city = 'Bhopal'`

  You can use nested loops.
```
for i in range(3):
    for i in city:
      print(i)
```
You should get the following output:
```
B
h
o
p
a
l
B
h
o
p
a
l
B
h
o
p
a
l
```

In [39]:
# Q1.
for i in 'IISERB':
  print(i)

I
I
S
E
R
B

In [41]:
# Q2.
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [42]:
# Q3.
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [44]:
# Q3.
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [50]:
# Q4.
for i in range(3,0,-1):
  print(i)

3
2
1

In [52]:
# Q5.
city = 'Bhopal'
for i in range(3):
  for i in city:
   print(i)

B
h
o
p
a
l
B
h
o
p
a
l
B
h
o
p
a
l