# **Variables and Condititonals**
`@author: DSE_Anurag_Nihal_19042`

#### Exercise 1: Integer and Float Types
The goal of this exercise is to determine types and then
change those types in our Python code.
1. Begin by explicitly determining the type of 6
2. Now, find the type of 6.0
3. Now, add 5 to 3.14. Infer the type of their sum:
It's clear from the output that combining an int and
a float gives us a float. This makes sense. If Python
returned 8, you would lose information. When possible,
Python converts types to preserve information.
4. Now, convert 7.999999999 to an int:

5. Convert 6 to a float:
Exercise 2: Assigning Variables

In [1]:
# Q1. Begin by explicitly determining the type of 6
type(6)

int

In [2]:
# Q2. Now, find the type of 6.0
type(6.0)

float

In [3]:
# Q3. Now, add 5 to 3.14. Infer the type of their sum: 
# Ans. The sum should be a float value
print(5+3.14)
print(type(5+3.14))

8.14
<class 'float'>

In [4]:
# Q4. Now, convert 7.999999999 to an int:
int(7.999999999)

7

In [5]:
# Q5. Convert 6 to a float:
float(6)

6.0

#### Exercise 2: Assigning Variables

1. Set x as equal to the number 2:
2. Add 1 to the variable x:
Once we add 1 to x, we get the output of 3, because the
variable has 1 added to it.
3. Change x to 3.0 and add 1 to x:
In this step, we change the value of x to 4.0, and as in
the previous 2 steps, we will be adding 1 to
the x variable.

In [6]:
# Q1. Set x as equal to the number 2
x=2

In [7]:
# Q2. Add 1 to the variable x: 
# Once we add 1 to x, we get the output of 3, 
# because the variable has 1 added to it.
x+1

3

In [8]:
# Q3. Change x to 3.0 and add 1 to x: 
# In this step, we change the value of x to 4.0, 
# and as in the previous 2 steps, 
# we will be adding 1 to the x variable.

x=3.0
x+1

4.0

#### Exercise 3: Variable Names

1. Create a variable called 1st_number and assign it a
value of 1.
You get the error because variables can not have number
as first character.

2. Now, let's try using letters to begin a variable:

      `first_number = 1`
3. Now, use special characters in a variable name, as in the
following code:

      `my_$ = 1000.00`

You get the error because you cannot include a variable
with a special character.
4. Now, use letters again instead of special characters for
the variable name:

      `my_money = 1000.00`

In [9]:
# Q1. Create a variable called 1st_number 
# and assign it a value of 1. 
# You get the error because 
# variables can not have number as first character. 
1st_number = 1

SyntaxError: ignored

In [10]:
# Q2. Now, let's try using letters to begin a variable: first_number = 1
first_number = 1

In [11]:
# Q3. Now, use special characters in a variable name, 
# as in the following code: my_$ = 1000.00
my_$ = 1000.00

SyntaxError: ignored

In [ ]:
# Q4. Now, use letters again instead of special characters 
# for the variable name: my_money = 1000.00
my_money = 1000.00

#### Exercise 4: Multiple Variables in Python

Assign 5 to x and 2 to y:
1. Add x to x and subtract y to the second power:


Python has a lot of cool shortcuts, and multiple variable
assignment is one of them. Here's the Pythonic way of
declaring two variables.

  Note: 

  *Pythonic* is a term used to describe code written in the optimum readable format.


2. Assign 8 to x and 5 to y in one line:
    
    
    x, y = 8, 5
3. Find the integer division of x and y:

In [12]:
# Q0. Assign 5 to x and 2 to y
x = 5
y = 2

In [13]:
# Q1. Add x to x and subtract y to the second power.
x = x+x-y**2

In [14]:
# Q2. Assign 8 to x and 5 to y in one line:
x, y = 8, 5

In [15]:
# Q3. Find the integer division of x and y
x//y

1

#### Exercise 5: Comments in Python

1. Write a comment that states 
    
    `# This is a comment`

When you execute this cell, nothing should happen.
2. Set the pi variable as equal to 3.14. Add a comment
above the line stating what you did:

    `# Set the variable pi equal to 3.14`

Adding the comment clarifies what follows.
3. Now, try setting the pi variable as equal to 3.14 again,
but add the comment stating what you did on the same
line:
    
    `# Set the variable pi equal to 3.14`
    
Although it's less common to provide comments on the
same line of code, it's acceptable and often appropriate.

In [16]:
# This is a comment

In [17]:
# Set the variable pi equal to 3.14
pi = 3.14

In [18]:
pi = 3.14 # Set the variable pi equal to 3.14

#### Exercise 6: The input() function
1. Ask a user for their name. Respond with an appropriate
greeting:

          # Choose a question to ask
          print('What is your name?')
2. Now, set a variable that will be equal to
the input() function, as mentioned in the following
code snippet:

    `name = input()`

3. Finally, print Hello with name and then a full stop
symbol.

In [19]:
# Q1. Ask a user for their name. Respond with an appropriate greeting:
# Choose a question 
print("What is your name?")

What is your name?

In [20]:
# Q2. Now, set a variable that will be equal to
# the input() function, as mentioned in the following
# code snippet:
name = input()
print("Hello {}".format(name))

Hello

#### Exercise 7: Boolean Variables
1. Now, use a Boolean to classify someone as being over 18 and get the type of the variable as bool. (take the hint from the following.)
2. Use a Boolean to classify someone as not being over 21:

    `over_21 = False`

    `type(over_21)`

In [21]:
# Q1. Now, use a Boolean to classify someone as being over 18 
#     and get the type of the variable as bool.
over_18 = True
type(over_18)

bool

In [22]:
# Q2. Use a Boolean to classify someone as not being over 21
over_21 = False
type(over_21)

bool

#### Exercise 8: Comparison Operators
1. Now, set age as equal to 20 and include a comparison
operator to check whether age is less than 13:
2. Using the following code snippet, you can check
whether age is greater than or equal to 20 and less than
or equal to 21:

    `age >= 20 and age <= 21`

You should get the following output:
`True`
3. Now check whether age is equivalent to 21:
`age != 21`

You should get the following output:
`True`
4. Now, check whether age is equivalent to 19:
`age == 19`
You should get the following output:
`False`

The double equals sign, or the equivalent operator, ==, is
very important in Python. It allows us to determine
whether two objects are equal. You can now address the
question of whether 6 and 6.0 are the same in Python.

5. Is 6 equivalent to 6.0 in Python? Let's find out:
`6 == 6.0`
You should get the following output:
`True`
This may come as a bit of a surprise. 6 and 6.0 are
different types, but they are equivalent. Why would that
be?

  Since 6 and 6.0 are equivalent mathematically, it makes
sense that they would be equivalent in Python, even
though the types are different. Consider whether 6 should
be equivalent to 42/7. The mathematical answer is yes.
Python often conforms to mathematical truths, even with
integer division. You can conclude that it's possible for
different types to have equivalent objects.

6. Now find out whether 6 is equivalent to the '6' string:
`6 == '6'`
You should get the following output:
`False`

  Here, you emphasize that different types usually do not
have equivalent objects. In general, it's a good idea to
cast objects as the same type before testing for
equivalence.

  Next, let's find out whether someone is in their 20's or
30's:

    `(age >= 20 and age < 30) or (age >= 30 and age < 40)`

You should get the following output:
`True`
Parentheses are not necessary when there is only one
possible interpretation. When using more than two
conditions, parentheses are generally a good idea. 
  
  Note that parentheses are always permitted. The following is
another approach:

  `(20 <= age < 30) or (30 <= age < 40)`

You should get the following output:
`True`

  Although the parentheses in the preceding code line are
not strictly required, they make the code more readable.
A good rule of thumb is to use parentheses for clarity.

In [23]:
# Q1. Now, set age as equal to 20 and include a comparison
# operator to check whether age is less than 13:
age = 20
age<13

False

In [24]:
# Q2. Using the following code snippet, you can check
# whether age is greater than or equal to 20 and less than
# or equal to 21:
age >= 20 and age <= 21

True

In [25]:
# Q3. Now check whether age is equivalent to 21:
age != 21

True

In [26]:
# Q4. Now, check whether age is equivalent to 19:
age == 19

False

In [27]:
# Q5. Is 6 equivalent to 6.0 in Python?
6 == 6.0

True

In [28]:
# Q6. Now find out whether 6 is equivalent to the '6' string:
6 == '6'

False

In [29]:
# Q7. find out whether someone is in their 20's or 30's:
(age >= 20 and age < 30) or (age >= 30 and age < 40)

True

In [30]:
# Q8. Another approach
(20 <= age < 30) or (30 <= age < 40)

True

#### Exercise 9: Using the if syntax

1. Now, run multiple lines of code where you set
the age variable to 20 and add an if clause, as
mentioned in the following code snippet:

       age = 20
       if age >= 18 and age < 21:
        print('At least you can vote.')
        print('Poker will have to wait.')
You should get the following output:

       At least you can vote.
       Poker will have to wait.

There is no limit to the number of indented statements.
Each statement will run in order, provided that the
preceding condition is True.
2. Now, use nested conditionals:

       if age >= 18:
        print('You can vote.')
       if age >= 21:
        print('You can play poker.')
You should get the following output:

       You can vote.
In this case, it's true that age >= 18, so the first
statement prints `You can vote`. The second
condition, age >= 21, however, is false, so the second
statement does not get printed.

In [31]:
# Q1. Now, run multiple lines of code where you set
# the age variable to 20 and add an if clause, as
# mentioned in the following code snippet:
age = 20
if age >= 18 and age < 21:
  print('At least you can vote.')
  print('Poker will have to wait.')

At least you can vote.
Poker will have to wait.

In [32]:
# Q2. Nested conditionals
if age >= 18:
  print('You can vote.')
if age >= 21:
  print('You can play poker.')

You can vote.

#### Exercise 10: Using the if-else Syntax
1. Introduce a voting program only to users over 18 by
using the following code snippet:

       age = 20
       if age < 18:
        print('You aren\'t old enough to vote.')
       else:
        print('Welcome to our voting program.')

You should get the following output:
`Welcome to our voting program.`

**Note**

*Everything after else is indented, just like everything
after the if loop.*

2. Now run the following code snippet, which is an
alternative to the code mentioned in step 2 of this
exercise:
       if age >= 18:
        print('Welcome to our voting program.')
       else:
        print('You aren\'t old enough to vote.')
  
You should get the following output:
  
    Welcome to our voting program.

In [33]:
# Q1. Introduce a voting program only to users over 18 by
# using the following code snippet:
age = 20
if age < 18:
 print('You aren\'t old enough to vote.')
else:
 print('Welcome to our voting program.')

Welcome to our voting program.

In [34]:
# Q2. Now run the following code snippet, which is an
# alternative to the code mentioned in step 2 of this
# exercise:
if age >= 18:
 print('Welcome to our voting program.')
else:
 print('You aren\'t old enough to vote.')

Welcome to our voting program.